<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags -->
        <meta name="description" content="Your description">
        <meta name="author" content="Your name">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>Log In - Food For Hungry</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/fontawesome-all.min.css" rel="stylesheet">
        <link href="assets/css/swiper.css" rel="stylesheet">
        <link href="assets/css/styles.css" rel="stylesheet">
        
        <!-- Favicons -->
        <link rel="icon" href=".//assets/img/login/favicon.png">                

        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
        rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="assets/css/login.css" rel="stylesheet">
    </head>
    <body>
        
        <!-- ======= Top Bar ======= -->
        <section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">      
            <a href="https://wa.me//9999900000?text=Hi%20i%20want%20to%20know%20more%20about%20your%20website%20-%20Food%20For%20Hungry" title="Chat on whatsapp"><i class="bi bi-whatsapp d-flex align-items-center"></i></a>
            <i class="bi bi-phone ms-2 d-flex align-items-center"><span>+91 99999 00000 </span></i>
            <a href="mailto:nikhilarethiya123@gmail.com?Subject=Some%20subject"><i class="bi bi-envelope ms-4 d-lg-flex align-items-center"><span>nikhilarethiya123gmail.com</span></i></a>
        
            </div>
        </section>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center header-transparent">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <div class="logo me-auto">        
                <h1><a href="/index"><img src="assets/img/logo.jpg" alt="Food For Hungry Logo" class="img-fluid"></a> <a class="ms-2" href="/index">Food For Hungry</a></h1>
                
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a class=href="index.html"><img src="assets/img/logo.jpg" alt="" class="img-fluid"></a> -->
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="/#why-us">About</a></li>
                <li><a class="nav-link scrollto" href="/#events">Our Mission</a></li>
                <li><a class="nav-link scrollto" href="/#gallery">Gallery</a></li>                                
                <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="/sign-up" class="book-a-table-btn scrollto">Register(Sign Up)</a>

            </div>
        </header><!-- End Header -->


        <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Log In</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->
        
        
        <!-- Basic -->
        <div class="ex-form-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="text-box mt-5 mb-5">
                            <p class="mb-4">You don't have a password? Then please <a class="blue" href="/sign-up">Sign Up</a></p>

                            <!-- Log In Form -->
                            <form class="box" id="form" action="/log-in" method="POST" autocomplete="off">
                                <div class="mb-4 form-floating">
                                    <input type="email" class="form-control" id="floatingEmail" name="floatingEmail" placeholder="name@example.com">
                                    <label for="floatingEmail">Email address</label>
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error Msg</small>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" name="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <small>Error Msg</small>
                                </div>
                                <div class="mb-4 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">I agree with the site's stated <a href="#">Privacy Policy</a> and <a href="#">Terms & Conditions</a></label>
                                </div>

                                <button type="submit" class="form-control-submit-button" >Log in</button>
                                <div class="mt-2" style="padding-left: 20%;">
                                    <p class="mb-4">You don't remember password? Then <a class="blue" href="#" data-target="#pwdModal" data-toogle="modal">forgot password</a></p>
                                </div>
                                
                            </form>
                            <!-- end of log in form -->

                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
        <!-- end of basic -->


        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row Center">
                    <div class="col-lg-12">
                        <div class="footer-col first">
                            <h6>About Website</h6>
                            <p class="p-small">People hunger for opportunity, starve for resources, and have been stripped of value. 
                                These injustices keep us up at night. Be a part of this community by providing the food who is in need. </p>
                        </div> <!-- end of footer-col -->                        
                        <div class="footer-col second">                            
                            <h6>Contact</h6>
                            <p class="p-small">To enquiry / Any Query Mail: <a href="mailto:Vaishnavishetty034@gmail.com"><strong>nikhilarethiya123@gmail.com</strong></a></p>
                        </div> <!-- end of footer-col -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © <a href="#your-link"> Vaishnav </a></p>
                    </div> <!-- end of col -->                    
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
        

        <!-- Back To Top Button -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>      
        <!-- end of back to top button -->  

        <!-- Scripts -->                            
        <script src="assets/js/login/bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="assets/js/login/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
        <script src="assets/js/login/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
        <script src="assets/js/login/replaceme.min.js"></script> <!-- ReplaceMe for rotating text -->
        <script src="assets/js/login/scripts.js"></script> <!-- Custom scripts -->

        <!-- Vendor JS Files -->
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Sweet Alert Box JS File -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

        <!-- Javascript for form validation for login--> 
        <script type="text/javascript">
            const form = document.getElementById('form');
            const emailInputed = document.getElementById('floatingEmail');
            const passwordInputed = document.getElementById('floatingPassword');
            
            // add event
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                validateLoginForm();
            })


            // success Rate
            const sendData = (emailInputedVal) => {                                
                document.getElementById('form').submit();
                // swal("Welcome! "+emailInputedVal, "Registeration Successful", "success");
                // location.href = `index?username=${nameInputedVal}`                
            }

            
            // for final data validation
            const allSuccessMsg = (emailInputedVal) => {
                let formFloat = document.getElementsByClassName('form-floating success');                
                var count = formFloat.length ;

                if(count === 2){
                    console.log(count);
                    sendData(emailInputedVal);
                }
            }
            

            // defining the validateSignupForm function
            const validateLoginForm = () => {
                const emailInputedVal = emailInputed.value.trim();
                const passwordInputedVal = passwordInputed.value.trim();
                

                // validate email id
                if(emailInputedVal === ""){
                    setErrorMsg(emailInputed, 'email cannot be blank');        
                }else{
                    setSuccessMsg(emailInputed);
                }
                
                // validate password
                if(passwordInputedVal === ""){
                    setErrorMsg(passwordInputed, 'password cannot be blank');        
                }else if(passwordInputedVal.length <= 5){
                    setErrorMsg(passwordInputed, 'Minimum 6 characters');                    
                }else{
                    setSuccessMsg(passwordInputed);
                }

                //validateEmail(emailInputedVal); 
                //validate(nameInputedVal);
                allSuccessMsg(emailInputedVal);
            }

            function setErrorMsg(input, errormsgs) {
                const formFloating = input.parentElement;
                const small = formFloating.querySelector('small');
                formFloating.className = "form-floating error"
                small.innerText = errormsgs;
            }

            function setSuccessMsg(input){
                const formFloating = input.parentElement;
                formFloating.className = "form-floating success"
            }
        </script>
        
        <!-- Register Successful alert using SweetAlert Box -->
        <div id="mydiv" data-test= <%= success_msg%>> </div>
        <div id="mydiv2" data-test= <%= err_msg%>> </div>

        <script type="text/javascript">                
            var test = document.getElementById('mydiv').dataset.test
            var test2 = document.getElementById('mydiv2').dataset.test
            console.log(test, test2)
            if(test){
                swal("Welcome! "+test, "Registeration Successful", "success");                
            }
            if(test2){
                swal("Error!", `${test2} `, "warning");                
            }
        </script>
    </body>
</html>